<div
  class="img-container"
  [class.--loading]="isLoading"
>

  <!-- USER UPLOADED VIDEO -->
  <video
    *ngIf="config?.videoUrl"
    [hidden]="isLoading"
    #userVideo
    autoplay
    loop
    [muted]="true"
    [class.--blur]="objectFrameIsHovered || objectFrameIsEnlarged"
  >
    <source [src]="config?.videoUrl" type="video/mp4">
  </video>

  <div
    class="img-overlay"
    [style.width.px]="config?.computedImageWidth"
    [style.height.px]="config?.computedImageHeight"
  >
    <!-- OBJECT FRAME -->
    <fbn-object-frame
      *ngFor="let objectData of visualObjects; trackBy: identify"
      [objectData]="objectData"
      [hasLoaded]="!!userVideo"
      [videoInstance]="config?.videoInstance"
      [videoDomElement]="userVideo?.nativeElement"
      [computedImageWidth]="config?.computedImageWidth"
      [computedImageHeight]="config?.computedImageHeight"
      (mouseover)="objectFrameOnMouseOver()"
      (mouseleave)="objectFrameOnMouseLeave()"
      (click)="toggleEnlarge(objectData)"
    >
    </fbn-object-frame>
  </div>
</div>
