<div
  class="img-container"
  [class.--loading]="isLoading"
>

  <!-- USER UPLOADED VIDEO -->
  <!-- loop -->
  <video
    *ngIf="config?.videoUrl"
    #userVideo
    [hidden]="isLoading"
    width="100%"
    controls
    [muted]="true"
    autoplay
  >
    <source [src]="config?.videoUrl" type="video/mp4">
  </video>

  <div
    class="img-overlay"
    [style.width.px]="config?.computedImageWidth"
    [style.height.px]="config?.computedImageHeight"
  >
    <!-- PLACEHOLDER -->
    <!-- <div
      *ngIf="!config?.videoUrl || !isLoading" class="user-image-placeholder"
      @rowCollapseAnimation
      (click)="clickPlaceholder.emit()"
    >
      <mat-icon
        class="__icon"
      >
        upload
      </mat-icon>
      <div class="__label">Upload Image</div>
    </div> -->

    <!-- OBJECT FRAME -->
    <fbn-object-frame
      *ngFor="let objectData of visualObjects; trackBy:identify"
      [objectData]="objectData"
      [hasLoaded]="!!userVideo"
      [videoInstance]="config?.videoInstance"
      [computedImageWidth]="config?.computedImageWidth"
      [computedImageHeight]="config?.computedImageHeight"
      (mouseover)="objectFrameIsHovered = true"
      (mouseleave)="objectFrameIsHovered = false"
      (click)="toggleEnlarge(objectData)"
    >
    </fbn-object-frame>
  </div>
</div>
