<div
    *ngIf="objectData"
    @rowCollapseAnimation
    class="object-frame"
    [style.left.px]="objectData.left"
    [style.bottom.px]="objectData.bottom"
    [style.width.px]="objectData.width"
    [style.height.px]="objectData.height"
    [style.border-color]="objectData.color"
    [style.opacity]="objectData.opacity"
>
    <div class="object-label" [style.background-color]="objectData.color">
    <b>{{ objectData.data.class_name }}</b>
    </div>
    <div class="object-data" [style.background-color]="objectData.color">
    <b>Confidence</b>: <span class="confidence">{{ objectData.data.confidence | json }}</span>
    </div>
</div>
