<div
  *ngIf="objectData"
  class="object-frame-container"
  [class.--enlarged]="objectData.enlarged"
  [style.left.px]="objectData.left"
  [style.bottom.px]="objectData.bottom"
  [style.width.px]="objectData.width"
  [style.height.px]="objectData.height"
  [style.border-color]="objectData.color"
  [style.opacity]="objectData.opacity"
  [attr.data-object-id]="objectData.data.id"
>
  <div
      class="object-frame"
      [style.width.px]="objectData.width"
      [style.height.px]="objectData.height"
      [style.color]="objectData.color"
  >
    <div class="__object-label" [style.background-color]="objectData.color">
      <b>{{ objectData.data.class_name }}</b>
    </div>

    <canvas
      #objectCanvas
      class="__object-canvas"
      [class.--enlarged]="objectData.enlarged"
    ></canvas>

    <div class="__object-data" [style.background-color]="objectData.color">
      <b>Confidence</b>: <span class="confidence">{{ objectData.data.confidence | json }}</span>
    </div>
  </div>
</div>
