/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/cdk/overlay-prebuilt.css';

@include mat.core();

$fbn-primary: mat.define-palette(mat.$indigo-palette, 500);
$fbn-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$fbn-warn: mat.define-palette(mat.$red-palette);

$fbn-primary-color: mat.get-color-from-palette($fbn-primary, 400);
$fbn-warn-color: mat.get-color-from-palette($fbn-warn, 400);

/* declare as global CSS variables */
:root {
  --fbn-primary-color: #5c6bc0;
  --fbn-warn-color: #f44336;
}

$default-typography: mat.define-typography-config();

/* DEFAULT THEME */
$light-theme: mat.define-light-theme((
  color: (
    primary: $fbn-primary,
    accent: $fbn-accent,
    warn: $fbn-warn,
  ),
  typography: $default-typography,
));

/* DARK THEME */
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $fbn-primary,
    accent: $fbn-accent,
    warn: $fbn-warn,
  ),
));

/* GLOBAL INCLUDES */
@include mat.typography-hierarchy($default-typography);
@include mat.all-component-themes($light-theme);
@include mat.all-component-densities(-2);

html, body {
  height: 100%;
}
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* GLOBAL CLASSES */

.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

.mat-error {
  color: mat.get-color-from-palette($fbn-warn, 500);
}

.spinner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  
  background-color: rgba(white, 0.5);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
