<div
  class="img-container"
  [class.--loading]="isLoading"
>
  <!-- USER UPLOADED IMG -->
  <img
    *ngIf="config?.imageUrl"
    #userImage
    @rowCollapseAnimation
    [class.--loading]="isLoading"
    [class.--blur]="objectFrameIsHovered || objectFrameIsEnlarged"
    [src]="config?.imageUrl"
    alt="your uploaded image"
  >

  <div
    class="img-overlay"
    [style.width.px]="config?.computedImageWidth"
    [style.height.px]="config?.computedImageHeight"
  >
    <!-- OBJECT FRAME -->
    <fbn-object-frame
      *ngFor="let objectData of visualObjects; trackBy: identify"
      [objectData]="objectData"
      [imageInstance]="config?.imageInstance"
      [hasLoaded]="!!userImage"
      [computedImageWidth]="config?.computedImageWidth"
      [computedImageHeight]="config?.computedImageHeight"
      (mouseover)="objectFrameIsHovered = true"
      (mouseleave)="objectFrameIsHovered = false"
      (click)="toggleEnlarge(objectData)"
    >
    </fbn-object-frame>
  </div>
</div>
<fbn-object-viewer
  *ngIf="objectViewerImageDataUrl"
  [objectData]="objectViewerObjectData"
  [imageSrc]="objectViewerImageDataUrl"
  (actionClose)="toggleEnlarge()"
>
</fbn-object-viewer>
