<div class="img-container">
  <!-- USER UPLOADED IMG -->
  <img
    *ngIf="config?.imgUrl"
    #userImage
    @rowCollapseAnimation
    [class.--loading]="isLoading"
    [src]="config?.imgUrl"
    alt="your uploaded image"
  >

  <div
    class="img-overlay"
    [style.width.px]="config?.computedImageWidth"
    [style.height.px]="config?.computedImageHeight"
  >
    <!-- PLACEHOLDER -->
    <div
      *ngIf="!config?.imgUrl || !isLoading" class="user-image-placeholder"
      @rowCollapseAnimation
      (click)="clickPlaceholder.emit()"
    >
      <mat-icon
        class="__icon"
      >
        upload
      </mat-icon>
      <div class="__label">Upload Image</div>
    </div>

    <!-- OBJECT FRAME -->
    <fbn-object-frame
      *ngFor="let objectData of visualObjects; trackBy:identify"
      [objectData]="objectData"
      [imageInstance]="config?.imageInstance"
      [imageDomElementRef]="userImage"
      [computedImageWidth]="config?.computedImageWidth"
      [computedImageHeight]="config?.computedImageHeight"
    >
    </fbn-object-frame>
  </div>
</div>
