<div class="content mat-app-background" [class.dark-theme]="isDarkTheme">
  <mat-toolbar color="primary">
    <!-- <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span class="title">Object Detection</span>
    
    <span class="spacer"></span>
    <div class="flex-stretch"></div>

    <!-- UPLOAD IMAGE -->
    <input #imageInput hidden="true" type="file" onclick="this.value=null" (change)="imageInputChange($event)" accept=".jpg"/>
    <button
      mat-raised-button
      color="primary"
      (click)="imageInput.click()"
    >
      <mat-icon>upload</mat-icon>
      Upload Image
    </button>

    <!-- UPLOAD VIDEO -->
    <input #videoInput hidden="true" type="file" onclick="this.value=null" (change)="videoInputChange($event)" accept=".mp4"/>
    <button
      mat-raised-button
      color="primary"
      (click)="videoInput.click()"
    >
      <mat-icon>upload</mat-icon>
      Upload Video
    </button>

    <!-- RESET -->
    <button
      mat-raised-button
      color="transparent"
      aria-label="Redo"
      (click)="reset()"
    >
      <mat-icon>refresh</mat-icon>
      Reset
    </button>

    <!-- HELP -->
    <button
      mat-raised-button
      color="primary"
      (click)="openInfoDialog()"
    >
      <mat-icon>help_outlined</mat-icon> 
      Info
    </button>

    <!-- TOGGLE DARK MODE -->
    <section class="toolbar-section">
      <mat-icon>light_mode</mat-icon>
      <div class="__togge-container">
        <mat-slide-toggle
          color="primary"
          [checked]="isDarkTheme"
          (change)="themeToggleChange($event)">
        </mat-slide-toggle>
      </div>
      <mat-icon>bedtime</mat-icon>
    </section>
  </mat-toolbar>

  <div class="wrapper">
    <div class="container">
      <fbn-image-viewer
        *ngIf="imageUrl$ | async"
        [isLoading]="(isLoading$ | async) || false"
        [config]="imageViewerConfig"
        (clickPlaceholder)="imageInput.click()"
      >
      </fbn-image-viewer>

      <fbn-video-viewer
        *ngIf="videoUrl$ | async"
        [isLoading]="(isLoading$ | async) || false"
        [config]="videoViewerConfig"
        (clickPlaceholder)="videoInput.click()"
      >
      </fbn-video-viewer>
    </div>

    <div
      *ngIf="isLoading$ | async"
      class="spinner-container"
      @rowCollapseAnimation
    >
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
