@import '../styles/fbn-mixins';

/* OUTER */

.content {
  min-height: 100%;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.wrapper {
  position: relative;
}

/* INNER */

mat-toolbar {
  position: relative;
  z-index: 2;
  box-shadow: 0 0 1rem 0.1rem black;
}

a.title {
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  color: inherit;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-section {
  display: flex;
  align-content: center;
  align-items: center;
  margin-left: 2rem;
  
  & .__togge-container {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    padding: 0 1rem;
  }
}
