<div class="content mat-app-background" [class.dark-theme]="isDarkTheme">
  <mat-toolbar color="primary">
    <!-- <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span class="title">Image Recognition</span>
    
    <span class="spacer"></span>
    <div class="flex-stretch"></div>

    <!-- UPLOAD -->
    <input #imgInput hidden="true" type="file" onclick="this.value=null" (change)="imgInputChange($event)" accept=".jpg"/>
    <button
      mat-raised-button
      color="primary"
      (click)="imgInput.click()"
    >
      <mat-icon>upload</mat-icon>
      Upload Image
    </button>

    <!-- RESET -->
    <button
      mat-raised-button
      color="transparent"
      aria-label="Redo"
      (click)="reset()"
    >
      <mat-icon>refresh</mat-icon>
      Reset
    </button>

    <!-- HELP -->
    <button
      mat-raised-button
      color="primary"
      (click)="openDialog()"
    >
      <mat-icon>help_outlined</mat-icon> 
      Info
    </button>

    <!-- TOGGLE DARK MODE -->
    <section class="toolbar-section">
      <mat-icon>light_mode</mat-icon>
      <div class="__togge-container">
        <mat-slide-toggle
          color="primary"
          [checked]="isDarkTheme"
          (change)="themeToggleChange($event)">
        </mat-slide-toggle>
      </div>
      <mat-icon>bedtime</mat-icon>
    </section>
  </mat-toolbar>

  <div class="wrapper">

    <div
      *ngIf="isLoading$ | async"
      @rowCollapseAnimation
      class="spinner-container"
    >
      <mat-spinner></mat-spinner>
    </div>

    <div class="container">
      <br>

      <p
        *ngIf="errorRemoteServiceUnavailable$ | async"
        @rowCollapseAnimation
        class="mat-error"
      >
        ERROR: Remote service is currently not available. Please try again later.
      </p>

      <p
        *ngIf="errorHasNoPredictions$ | async"
        @rowCollapseAnimation
        class="mat-error"
      >
        ERROR: No objects could be identified. Please try again or try another image.
      </p>

      <div class="img-container">
        <ng-container [ngSwitch]="!!imgUrl">
          <!-- USER UPLOADED IMG -->
          <img
            *ngSwitchCase="true"
            #userImage
            @rowCollapseAnimation
            [class.--loading]="isLoading$ | async"
            [src]="imgUrl"
            alt="your uploaded image"
          >
        </ng-container>

        <div
          class="img-overlay"
          [style.width.px]="imageWidth"
          [style.height.px]="imageHeight"
        >
          <!-- PLACEHOLDER -->
          <div
            *ngIf="!imgUrl && !(isLoading$ | async)" class="user-image-placeholder"
            @rowCollapseAnimation
            (click)="imgInput.click()"
          >
            <mat-icon
              class="__icon"
            >
              upload
            </mat-icon>
            <div class="__label">Upload Image</div>
          </div>

          <!-- OBJECT FRAME -->
          <fbn-object-frame
            *ngFor="let objectData of visualObjects; trackBy:identify"
            [objectData]="objectData"
          >
          </fbn-object-frame>
        </div>
      </div>
    </div>
  </div>
</div>
