<div class="content mat-app-background" [class.dark-theme]="themeToggleDarkTheme">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">Image Recognition</span>
    
    <span class="spacer"></span>
    <div class="flex-stretch"></div>

    <!-- UPLOAD -->
    <input #imgInput hidden="true" type="file" onclick="this.value=null" (change)="imgInputChange($event)" accept=".jpg"/>
    <button
      mat-raised-button
      color="primary"
      (click)="imgInput.click()"
    >
      <mat-icon>upload</mat-icon> 
      Upload Image
    </button>

    <!-- RESET -->
    <button
      mat-raised-button
      color="transparent"
      aria-label="Redo"
      (click)="reset()"
    >
      <mat-icon>refresh</mat-icon>
      Reset
    </button>

    <!-- HELP -->
    <button
      mat-raised-button
      color="primary"
    >
      <mat-icon>help_outlined</mat-icon> 
      Help
    </button>

    <!-- TOGGLE DARK MODE -->
    <section class="toolbar-section">
      <mat-icon>light_mode</mat-icon>
      <div class="__togge-container">
        <mat-slide-toggle
          color="primary"
          [checked]="themeToggleDarkTheme"
          (change)="themeToggleChange($event)">
        </mat-slide-toggle>
      </div>
      <mat-icon>bedtime</mat-icon>
    </section>
  </mat-toolbar>

  <div class="wrapper">

    <div
      *ngIf="isLoading$ | async"
      @rowCollapseAnimation
      class="spinner-container"
    >
      <mat-spinner></mat-spinner>
    </div>

    <div class="container">
      <br>

      <p
        *ngIf="errorHasNoPredictions$ | async"
        @rowCollapseAnimation
        class="mat-error"
      >
        No detections available. Please try again or try another image.
      </p>

      <div id="img-container">
        <!-- USER UPLOADED IMG -->
        <img
          *ngIf="imgUrl"
          #userImage
          @rowCollapseAnimation
          [class.--loading]="isLoading$ | async"
          [src]="imgUrl"
          alt="your uploaded image"
        >

        <div id="img-overlay">
          <ng-container
            *ngFor="let objectData of visualObjects"
            [ngTemplateOutlet]="objectTemplate"
            [ngTemplateOutletContext]="{
              objectData,
            }"
          ></ng-container>
        </div>
      </div>
    </div>
  </div>

  <ng-template #objectTemplate let-objectData="objectData">
    <div
      class="object-frame"
      @rowCollapseAnimation
      [style.left.px]="objectData.left"
      [style.bottom.px]="objectData.bottom"
      [style.width.px]="objectData.width"
      [style.height.px]="objectData.height"
      [style.border-color]="objectData.color"
    >
      <div class="object-label" [style.background-color]="objectData.color">
        <b>{{ objectData.data.class_name }}</b>
      </div>
      <div class="object-data" [style.background-color]="objectData.color">
        <b>Confidence</b>: <span class="confidence">{{ objectData.data.confidence | json }}</span>
      </div>
    </div>
  </ng-template>
</div>
